<div class="nav">
					<ul>
    	<li><%=  link_to "Home", root_url  %> </li>
       	<li><%= link_to "Tipe Properti",  tipe_properti_url  %></li>
		<li><%= link_to "Fasilitas",  fasilitas_url  %></li>

		<li><%= link_to "Lokasi",  lokasi_url  %></li>

        <!-- <li><a class="" href="http://futsalbilling.com/demo.php">Lokasi</a></li> -->
        <li class="last"><a href="http://futsalbilling.com/purchase.php">Login Warga</a></li>
    </ul>
</div>